
@{
    ViewData["Title"] = "Übersicht";
}

    <div class="row">
        <div class="col-12 col-md-6 border-right">
            <div class="row">
                <div class="col-12 text-center text-white mb-4">
                    <a href="#" data-toggle="modal" data-target="#createTourModal">
                        <i class="fa fa-3x fa-plus-circle fa-pull-left text-white"></i>
                    </a>
                    <h3>Startende Führungen</h3>
                    <h6>Hier finden Sie zu startende Führungen, welche bestätigt werden müssen.</h6>
                </div>
                <div class="col-12 col-lg-6 mt-3">
                    <div class="card">
                        <div class="card-header bg-secondary-color h4">Daniel Tschlatscher</div>
                        <div class="card-body bg-ternary-color text-white">
                            <p>
                                <strong>Team:</strong> Gurkensalat<br />
                                <strong>Gast:</strong> Hubert Staller
                            </p>
                            <button type="button" class="btn bg-primary-color text-white w-100 font-weight-bold">Bestätigen</button>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-6 mt-3">
                    <div class="card">
                        <div class="card-header bg-secondary-color h4">Florian Eder</div>
                        <div class="card-body bg-ternary-color text-white">
                            <p>
                                <strong>Team:</strong> Gurkensalat<br />
                                <strong>Gast:</strong> Hubert Staller
                            </p>
                            <button type="button" class="btn bg-primary-color text-white w-100 font-weight-bold">Bestätigen</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 mt-3">
                    <div class="card">
                        <div class="card-header bg-secondary-color h4">Florian Eder</div>
                        <div class="card-body bg-ternary-color text-white">
                            <p>
                                <strong>Team:</strong> Gurkensalat<br />
                                <strong>Gast:</strong> Hubert Staller
                            </p>
                            <button type="button" class="btn bg-primary-color text-white w-100 font-weight-bold">Bestätigen</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 mt-3">
                    <div class="card">
                        <div class="card-header bg-secondary-color h4">Florian Eder</div>
                        <div class="card-body bg-ternary-color text-white">
                            <p>
                                <strong>Team:</strong> Gurkensalat<br />
                                <strong>Gast:</strong> Hubert Staller
                            </p>
                            <button type="button" class="btn bg-primary-color text-white w-100 font-weight-bold">Bestätigen</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 border-left">
            <div class="row">
                <div class="col-12 text-center text-white mb-4">
                    <h3>Laufende Führungen</h3>
                    <h6>Hier finden Sie laufende Führungen, welche beendet werden können.</h6>
                </div>
                <div class="col-12 col-lg-6 mt-3">
                    <div class="card">
                        <div class="card-header bg-secondary-color h4">Florian Eder</div>
                        <div class="card-body bg-ternary-color text-white">
                            <p>
                                <strong>Team:</strong> Gurkensalat<br />
                                <strong>Führungsstart:</strong> 10:30<br />
                                <strong>Gast:</strong> Hubert Staller
                            </p>
                            <button type="button" class="btn bg-primary-color text-white w-100 font-weight-bold">Beenden</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 mt-3">
                    <div class="card">
                        <div class="card-header bg-secondary-color h4">Florian Eder</div>
                        <div class="card-body bg-ternary-color text-white">
                            <p>
                                <strong>Team:</strong> Gurkensalat<br />
                                <strong>Führungsstart:</strong> 11:00<br />
                                <strong>Gast:</strong> Hubert Staller
                            </p>
                            <button type="button" class="btn bg-primary-color text-white w-100 font-weight-bold">Beenden</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 mt-3">
                    <div class="card">
                        <div class="card-header bg-secondary-color h4">Florian Eder</div>
                        <div class="card-body bg-ternary-color text-white">
                            <p>
                                <strong>Team:</strong> Gurkensalat<br />
                                <strong>Führungsstart:</strong> 11:15<br />
                                <strong>Gast:</strong> Hubert Staller
                            </p>
                            <button type="button" class="btn bg-primary-color text-white w-100 font-weight-bold">Beenden</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 mt-3">
                    <div class="card">
                        <div class="card-header bg-secondary-color h4">Florian Eder</div>
                        <div class="card-body bg-ternary-color text-white">
                            <p>
                                <strong>Team:</strong> Gurkensalat<br />
                                <strong>Führungsstart:</strong> 12:30<br />
                                <strong>Gast:</strong> Hubert Staller
                            </p>
                            <button type="button" class="btn bg-primary-color text-white w-100 font-weight-bold">Beenden</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 mt-3">
                    <div class="card">
                        <div class="card-header bg-secondary-color h4">Florian Eder</div>
                        <div class="card-body bg-ternary-color text-white">
                            <p>
                                <strong>Team:</strong> Gurkensalat<br />
                                <strong>Führungsstart:</strong> 12:50<br />
                                <strong>Gast:</strong> Hubert Staller
                            </p>
                            <button type="button" class="btn bg-primary-color text-white w-100 font-weight-bold">Beenden</button>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>


    <div id="createTourModal" class="modal fade" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-secondary-color text-dark">
                    <h5 class="modal-title">Neue Führung erfassen</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body bg-ternary-color text-white">
                    <form>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Name des Guides...">
                        </div>
                        <div class="form-group">
                            <label for="team">Team</label>
                            <input type="text" class="form-control" id="team" placeholder="Name des Teams...">
                        </div>
                        <div class="form-group">
                            <label for="visitor">Gast (optional)</label>
                            <input type="text" class="form-control" id="visitor" placeholder="Name des Gastes...">
                        </div>
                        <button type="submit" class="btn bg-primary-color text-white w-100 font-weight-bold">Erstellen</button>
                    </form>
                </div>
            </div>
        </div>
    </div>