.bg-primary-color {
    background-color: #201F21 !important;
}

.bg-secondary-color {
    background-color: #FFF233 !important;
}

.bg-ternary-color {
    background-color: #3E3C40 !important;
}

input[type="radio"] {
    display: none;
}