@model GuideTourWeb.Models.DashboardViewModels.IndexDashboardViewModel
@{
    ViewData["Title"] = "Übersicht";
    Layout = "~/Views/Shared/_Layout_dashboard.cshtml";
}


    <section class="content">
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-ternary-color">
                    <div class="inner">
                        <h3>@Model.CntFinishedTours</h3>

                        <p>Beendete Führungen</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-flag-checkered float-right h-100"></i>
                    </div>  
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-ternary-color">
                    <div class="inner">
                        <h3>@Model.CntOngoingTours</h3>

                        <p>Laufende Führungen</p>
                    </div>
                    <div class="icon w-50">
                        <i class="fas fa-retweet float-right h-100"></i>
                    </div>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-ternary-color">
                    <div class="inner">
                        <h3>@Model.AverageToursPerGuide.ToString()</h3>

                        <p>Durchschn. Führungen pro Guide</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-times float-right h-100"></i>
                    </div>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-ternary-color">
                    <div class="inner">
                        <h3>@Model.AverageTourDuration.ToString("h'h 'm'm 's's'")</h3>

                        <p>Durchschn. Führungsdauer</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-mobile-alt float-right h-100"></i>
                    </div>
                </div>
            </div>
            <!-- ./col -->
        </div>
    </section>