@model GuideTourWeb.Models.DashboardViewModels.IndexDashboardViewModel
@{
    ViewData["Title"] = "Übersicht";
    Layout = "~/Views/Shared/_Layout_dashboard.cshtml";
}


    <section class="content">
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-ternary-color">
                    <div class="inner">
                        <h4>@Model.CntFinishedTours</h4>

                        <p>Beendete Führungen</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-flag-checkered float-right h-100"></i>
                    </div>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-ternary-color">
                    <div class="inner">
                        <h4>@Model.CntOngoingTours</h4>

                        <p>Laufende Führungen</p>
                    </div>
                    <div class="icon w-50">
                        <i class="fas fa-retweet float-right h-100"></i>
                    </div>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-ternary-color">
                    <div class="inner">
                        <h4>@Model.AverageToursPerGuide.ToString()</h4>

                        <p>Durchschn. Führungen pro Guide</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-times float-right h-100"></i>
                    </div>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-ternary-color">
                    <div class="inner">
                        <h4>@Model.AverageTourDuration.ToString("h'h 'm'm 's's'")</h4>

                        <p>Durchschn. Führungsdauer</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-mobile-alt float-right h-100"></i>
                    </div>
                </div>
            </div>
            <!-- ./col -->
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <canvas id="averageToursPerHour" class="bg-ternary-color"></canvas>
            </div>
            <div class="col-12 col-lg-6">
                <canvas id="toursPerTeam" class="bg-ternary-color"></canvas>
            </div>
        </div>
    </section>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            $.ajax({
                    type: "GET",
                    url: '/Dashboard/GetChartDataForOverview',
                    success: function (data) {
                        new Chart(document.getElementById("averageToursPerHour"), {
                            type: 'line',
                            data: {
                                datasets: [{
                                    data: data[0],
                                    label: "",
                                    borderWidth: 3,
                                    borderColor: "#FFF233",
                                    fill: true,
                                    backgroundColor: "rgba(255, 242, 51, 0.3)",
                                    pointRadius: 0
                                }]
                            },
                            options: {
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            fontColor: "white",
                                            fontSize: 14,
                                            stepSize: 1,
                                            beginAtZero: true
                                        }
                                    }],
                                    xAxes: [{
                                        type: 'time',
                                        time: {
                                            parser: 'HH:mm',
                                            unit: 'min',
                                            displayFormats: {
                                                min: 'HH:mm'
                                            },
                                            min: '08',
                                            max: '18'
                                        },
                                        ticks: {
                                            source: "data",
                                            fontColor: "white",
                                            fontSize: 14,
                                            stepSize: 1,
                                            beginAtZero: true
                                        }
                                    }]
                                },
                                legend: {
                                    display: false,
                                    labels: {
                                        fontColor: "white"
                                    }
                                },
                                animation: {
                                    duration: 3,
                                },
                                hover: {
                                    animationDuration: 3,
                                },
                                responsiveAnimationDuration: 2,
                                title: {
                                    display: true,
                                    text: 'Durschnittliche Führungen',
                                    fontColor: '#FFF',
                                    fontSize: 22
                                },
                            },
                            plugins: [{
                                beforeInit: function (chart) {
                                    var time = chart.options.scales.xAxes[0].time, // 'time' object reference
                                        timeDiff = moment(time.max, 'HH').diff(moment(time.min, 'HH'), 'hours'); 
                                    timeDiff *= 2;
                                    // populate 'labels' array
                                    // (create a date string for each date between min and max, inclusive)
                                    for (i = 0; i <= timeDiff; i++) {
                                        var _label = moment(time.min, 'HH').add(i * 30, 'minutes').format('HH:mm');
                                        chart.data.labels.push(_label);
                                    }
                                }
                            }]
                        });



                        new Chart(document.getElementById("toursPerTeam"), {
                            type: 'bar',
                            data: {
                                labels: data[1].teamnames,
                                datasets: [{
                                    data: data[1].numOfTours,
                                    borderWidth: 3,
                                    borderColor: "#FFF233",
                                    fill: true,
                                    backgroundColor: "rgba(255, 242, 51, 0.3)",
                                    pointRadius: 0
                                }]
                            },
                            options: {
                                legend: {
                                    display: false,
                                    labels: {
                                        fontColor: "white"
                                    }
                                },
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            fontColor: "white",
                                            fontSize: 14,
                                            stepSize: 1,
                                            beginAtZero: true
                                        }
                                    }],
                                    xAxes: [{
                                        ticks: {
                                            fontColor: "white",
                                            fontSize: 16,
                                            stepSize: 1,
                                            beginAtZero: true
                                        }
                                    }]
                                },
                                animation: {
                                    duration: 3,
                                },
                                hover: {
                                    animationDuration: 3,
                                },
                                responsiveAnimationDuration: 2,
                                title: {
                                    display: true,
                                    text: 'Führungen pro Team',
                                    fontColor: '#FFF',
                                    fontSize: 22
                                },
                            }
                        });
                    },
                    error: function () {
                        console.log('No data for charts');
                    }
                });
        });
    </script>
}